.modal_show_slide {
  animation: slideDown cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 0.5s;
}

.modal_hide_slide {
  animation: slideUp cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 0.5s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}