<div>
  <div class="p-4 flex justify-between">
    <h1 class="font-bold text-lg flex items-center gap-2 text-sky-950 dark:text-neutral-400">Opções de <%= cc.package.name %></h1>

    <button class="bg-slate-100 rounded-lg w-8 h-8 dark:bg-neutral-800 dark:text-neutral-300" onclick="closeModal()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="p-4 flex gap-4">
    <div id="option_wrapper" class="flex flex-col w-full gap-4">
      <% cc.package.variables.forEach((variable, index) => { %>
        <% const cart_package = cc.cart.packages.find((cp) => cp.package_id === cc.package.id) %>
        <% const selected_option = cart_package?.options.find((option) => option.variable.id === variable.id) %>

        <div class="space-y-1">
          <label for="<%= variable.name %>" class="font-semibold text-sky-950 mb-2 dark:text-neutral-400"><%= variable.description %>:</label>
  
          <% if (variable.type === 'SELECT') { %>
            <select id="<%= variable.name %>" class="w-full py-2 text-center bg-transparent border rounded font-medium h-10">
              <% variable.options.forEach((option, index) => { %>
                <option 
                  value="<%= option.id %>" 
                  <%= selected_option?.variable_option_id === option.id ? 'selected': '' %>
                >
                  <%= option.name %> <%= option.price ? `(${option.price_display})` : '' %>
                </option>
              <% }) %> 
            </select>
          <% } else { %>
            <input 
              id="<%= variable.name %>" 
              type="<% variable.type === 'TEXT' ? 'text' : 'number' %>" 
              class="w-full py-2 text-center bg-transparent border rounded font-medium h-10"
              value="<%= selected_option?.value || '' %>">
          <% } %>
        </div>
      <% }) %>
    </div>
  </div>

  <div class="p-4 flex gap-2">
    <button class="max-w-fit
      ms-auto 
      px-4 
      py-2 
      rounded-md 
      flex-1 
      text-sky-950 
      font-semibold 
      hover:bg-slate-100 
      transition-colors 
      duration-150 hover:dark:bg-neutral-800 dark:text-neutral-300" 
      onclick="closeModal()">
      Cancelar
    </button>

    <% const current_cart_item = cc.cart?.packages.find((package) => package.meta.id === cc.package.id) %>
    <button 
      id="<%= cc.package.id %>"
      data-func="<%= current_cart_item ? 'update-options' : 'add-to-cart' %>"
      data-slug="<%= cc.package.slug %>" 
      class="max-w-fit px-4 py-2 bg-[#29e66e] rounded-md flex-1 text-white font-semibold"
    >
      <i class="fa-solid fa-basket-shopping me-2"></i>
      <%= current_cart_item ? 'Atualizar' : 'Adicionar ao carrinho' %>
    </button>
  </div>
</div>