<% layout("@layouts/layout") %>

<main class="mx-auto w-full max-w-[1216px] flex flex-col mt-12 gap-8 px-3">
  <% const connect_widget = cc.widgets.find((widget) => widget.type === 'CONNECTION_BOARD') %>

  <% if (connect_widget) { %>
    <%~ include('@widgets/connect', {widget: connect_widget, ...cc}) %>
  <% } %>

  <section class="flex gap-5 max-md:flex-col w-full max-w-[1216px] mx-auto">
    <div class="w-full h-fit flex flex-col">
      <% if (cc.theme.index_content) { %>
        <div class="CentralDraft mb-auto"><%~ cc.theme.index_content %></div>
      <% } %>

      <div class="mt-8">
        <% if (cc.posts.data.length) { %>
          <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
            <% cc.posts.data.forEach((post, index) => { %>
              <% if (index < 3) { %>
                <%~ include('@components/post_preview', {post, ...cc}) %>
              <% } %>
            <% }) %>
          </div>
  
          <div class="bg-muted p-4 mt-4 rounded-xl flex justify-between items-center">
            <p class="text-white">Veja mais postagens no <a href="<%= cc.dist_url %>/blog" class="text-brand hover:underline">nosso blog</a>.</p>

            <a href="<%= cc.dist_url %>/blog" class="bg-brand px-4 py-2 flex items-center gap-1 text-white 
              text-sm font-semibold rounded tracking-[0.05em] transition hover:bg-brand/80">
              <i class="fa-solid fa-share"></i> 
              Visitar blog
            </a>
          </div>
        <% } else { %>
          <div class="border text-muted-foreground p-6 rounded-xl flex items-center gap-2">
            <i class="fa-regular fa-newspaper text-3xl"></i>
            <p>
              Nenhuma postagem encontrada.
            </p>
          </div>
        <% } %>
      </div>
    </div>

    <div class="relative flex flex-col gap-7 max-w-72 max-md:max-w-full h-full w-full p-0">
      <%~ include('@components/store_button', cc) %>

      <% const discord_widget = cc.widgets.find((widget) => widget.type === 'DISCORD') %>
      <%~ include('@widgets/discord', {widget: discord_widget, ...cc}) %>

      <% const goal_widget = cc.widgets.find((widget) => widget.type === 'MONTH_GOAL') %>
      <% if (goal_widget) { %>
        <%~ include('@widgets/month_goal', {widget: goal_widget, ...cc}) %>  
      <% } %>

      <% const package_widget = cc.widgets.find((widget) => widget.type === 'PRODUCT_HIGHLIGHT') %>
      <% if (package_widget?.package) { %>
        <%~ include('@components/package', {package: package_widget.package, highlighted: true, ...cc}) %>  
      <% } %>
    </div>
  </section>
</main>