<% layout("@layouts/layout") %>

<% if (cc.order) { %>
  <main class="mx-auto w-full max-w-[1216px] flex flex-col mt-12 gap-8 px-3">
    <% 
      const date = new Date(cc.order.created_at);
      const day = String(date.getDate()).padStart(2, '0');
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const year = date.getFullYear();
      const hours = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');

      const created_at = `${day}/${month}/${year} às ${hours}:${minutes}`;
    %>

    <section class="flex gap-10 w-full mx-auto">
      <div class="w-full bg-muted rounded-xl overflow-hidden">
        <div class="p-4 bg-muted-contrast w-full px-8 py-6 flex flex-col justify-center border-b text-white font-bold text-lg">
          <div class="flex items-center gap-2">
            <% if (cc.order.status === 'APPROVED') { %>
              <i class="fa-solid fa-circle-check text-xl text-green-500"></i>
              <h2>Pagamento processado!</h2>
              <% } %>
        
              <% if (cc.order.status === 'PENDING') { %>
              <i class="fa-solid fa-circle-exclamation text-xl text-orange-400"></i>
              <h2>Pagamento pendente</h2>
              <% } %>
        
              <% if (cc.order.status === 'CANCELED' || cc.order.status === 'RECUSED') { %>
              <i class="fa-solid fa-circle-xmark text-xl text-red-600"></i>
              <h2>Pagamento cancelado ou recusado</h2>
              <% } %>
        
              <% if(cc.order.status === 'CHARGEDBACK' || cc.order.status === 'REFUNDED') { %>
              <i class="fa-solid fa-hand-holding-dollar text-xl text-purple-400"></i>
              <h2>Pagamento devolvido ou em disputa</h2>
            <% } %>
          </div>
          <div class="flex w-full justify-between items-center mt-0.5">
            <p class="text-sm text-muted-foreground font-medium">Feito em <%= created_at %></p>
            <p class="text-sm text-muted-foreground font-normal"><%= cc.order.internal_id %></p>
          </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-4 justify-between gap-4 p-8">
          <div class="space-y-1 flex-1">
            <label class="font-medium text-white">Email</label>
            <input class="w-full h-10" readonly value="<%= cc.order.client_email %>" />
          </div>

          <div class="space-y-1 flex-1">
            <label class="font-medium text-white">Valor total</label>
            <input class="w-full h-10" readonly value="<%= cc.order.price_display %>" />
          </div>

          <% if (cc.order.promo_code) { %>
            <div class="space-y-1 flex-1">
              <label class="font-medium text-white">Cupom</label>
              <input class="w-full h-10" readonly value="<%= cc.order.promo_code %>" />
            </div>
          <% } %>

          <div class="space-y-1 flex-1">
            <label class="font-medium text-white">Método de pagamento</label>
            <input class="w-full h-10" readonly value="<%= cc.order.gateway_display %>" />
          </div>

          <div class="space-y-1 flex-1">
            <label class="font-medium text-white">Status</label>

            <% 
              let status_color = 'orange'
              
              if (cc.order.status === 'APPROVED') status_color = 'green'
              if (cc.order.status === 'REJECTED') status_color = 'red'
              if (cc.order.status === 'CANCELED') status_color = 'green'
              if (cc.order.status === 'REFUNDED') status_color = 'purple'
              if (cc.order.status === 'CHARGEDBACK') status_color = 'purple'
            %>
            <div class="relative">
              <span class="absolute mx-2 top-1/2 -translate-y-1/2 px-1 
                rounded-sm font-medium text-sm bg-<%= status_color %>-500/10 text-<%= status_color %>-500">
                <%= cc.order.status_display %>
              </span>
              <input class="w-full h-10" readonly />
            </div>
          </div>
        </div>

        <div class="px-8">
          <h3 class="font-medium text-white">
            <i class="fa-solid fa-list-ul me-1"></i>
            Itens do pedido
          </h3>

          <div class="border rounded p-4 mt-2">
            <% cc.order.packages.map((package, index) => { %>
              <div class="flex justify-between items-center">
                <p class="font-medium">x<%= package.quantity %> <%= package.name %></p>
  
                <% if (cc.store.type !== 'STANDALONE') { %>
                  <div 
                    class="bg-green-500/15 text-green-500 border border-green-500 px-2 py-1 text-xs rounded font-medium"
                  >
                    Entregue in-game
                  </div>
                <% } %>
  
                <% const deliveries = cc.order.deliveries.filter((delivery) => delivery.order_package_id === package.id) %>
                <% if (cc.store.type === 'STANDALONE' && deliveries.length) { %>
                  <button 
                    class="bg-brand px-4 h-8 text-sm rounded-md font-medium text-white"
                    id="redeem-<%= package.id %>"
                    onclick="redeemOrder('<%= package.id %>')"
                  >
                    Resgatar
                  </button>
  
                  <div class="hidden" id="modal-<%= package.id %>" aria-hidden="true">
                    <div class="flex items-center justify-between p-6">
                      <div class="flex gap-1.5 items-center">
                        <h1 class="font-bold text-lg text-white"><%= package.name %></h1>
                      </div>
                  
                      <button class="bg-red-500 hover:bg-red-500/80 transition rounded-full w-6 h-6 flex items-center justify-center" onclick="closeModal()">
                        <i class="fa-solid fa-xmark text-muted"></i>
                      </button>
                    </div>

                    <div class="p-4 bg-background/60">
                      <div class="space-y-3">
                        <% deliveries.map((delivery) => { %>
                          <% const { value, type, render } = delivery %>
                          
                          <% if (type === 'LICENSE_KEY') { %>
                            <div class="py-1 px-2 bg-brand/10 text-brand rounded border border-brand flex justify-between gap-1">
                              <span class="font-medium"><%= value %></span>
          
                              <button class="text-right h-fit copy" value="<%= value %>">
                                <i class="fa-solid fa-copy"></i>
                              </button>
                            </div>
                          <% } %>
    
                          <% if (type === 'CONTENT') { %>
                            <div class="<%= render ? 'centralcart-email-viewer' : 'centralcart-content p-4 bg-background border rounded' %>">
                              <%~ value %>
                            </div>
                          <% } %>

                          <% if (type === 'DOWNLOAD') { %>
                            <div class="p-4 bg-background border rounded flex justify-between items-center">
                              <div>
                                <p class="font-bold"><%= value.name %></p>
                                <p class="text-sm text-muted-foreground">Tamanho: <span class="font-semibold text-white"><%= value.size %></span></p>
                              </div>
    
                              <a href="<%= value.download_url %>" class="bg-brand flex items-center px-4 h-8 text-sm rounded-md font-medium text-white">Baixar</a>
                            </div>
                          <% } %>
                        <% }) %>
                      </div>
                    </div>
                    
                    <div class="flex p-6">
                      <button class="ms-auto h-10 px-4 flex items-center justify-center rounded bg-brand 
                        hover:bg-brand/80 transition text-white font-medium tracking-wider" onclick="closeModal()">
                        Fechar
                      </button>
                    </div>
                  </div>
                <% } %>
              </div>
            <% }) %>
          </div>
        </div>

        <div class="p-8">
          <a href="<%= cc.dist_url %>/" class="
            ms-auto px-5 py-3 flex gap-2 items-baseline justify-center rounded-full bg-brand 
            hover:bg-brand/80 transition text-white font-medium w-full text-lg
          ">
            <i class="fa-solid fa-house"></i>
            Voltar para o inicio
          </a>
        </div>
      </div>
    </section>
  </main>

  <script>
    $(document).on('click', '.copy', function () {
      $(this).attr('disabled', '1')
      $(this).find('i').removeClass('fa-copy').addClass('fa-check')

      setTimeout(() => {
        $(this).removeAttr('disabled')
        $(this).find('i').addClass('fa-copy').removeClass('fa-check')
      }, 3000)

      navigator.clipboard.writeText($(this).val())
    })
  </script>
<% } else { %>
  <meta http-equiv="refresh" content="0; url='<%= cc.dist_url %>/'" />
<% } %>