<div class="border-b p-4">
  <h5 class="text-xl font-semibold"><%= cc.package.name %></h5>
  <button
    type="button"
    class="absolute top-4 right-4 text-white opacity-70 hover:opacity-100 transition-opacity"
    aria-label="Fechar"
    data-micromodal-close
  >
    <i class="fa-solid fa-times text-xl"></i>
  </button>
</div>

<div class="p-4 centralcart-content">
  <% if (cc.package.description) { %>
    <%~ cc.package.description %>
  <% } %>
</div>

<div class="flex items-center justify-between p-4 border-t">
  <p class="font-['Poppins']">
    por <strong class="text-primary"><%= cc.package.price_display %></strong>
  </p>
  
  <div class="flex gap-4">
    <button 
      type="button" 
      class="btn-outline"
      data-bs-dismiss="modal"
      data-micromodal-close
    >
      Fechar
    </button>

    <% if (cc.package.inventory_amount === null || cc.package.inventory_amount > 0) { %>
      <% const current_cart_item = cc.cart.packages.find((package) => package.meta.id === cc.package.id) %>
      <% const has_variables = cc.package.variables.length %>
      <button type="button" 
        id="<%= cc.package.id %>" 
        data-func="<%= current_cart_item ? 'goto-cart' : has_variables ? 'open-selector' : 'add-to-cart' %>"
        data-slug="<%= cc.package.slug %>"
        class="btn-primary"
      >
        <i class="fa-solid fa-basket-shopping me-2"></i>
        <%= current_cart_item ? 'Ver carrinho' : 'Adicionar ao carrinho' %>
      </button>
      
    <% } else { %>
      <button class="btn-primary red">
        Sem estoque
      </button>
    <% } %>
  </div>
</div>