<div class="p-6 bg-muted flex flex-col rounded-lg border">
  <h2 class="text-xl font-bold">JUNTE-SE A NOS</h2>

  <p class="text-muted-foreground">Clique no botão abaixo para jogar.</p>

  <% if (['FIVEM', 'REDM'].includes(cc.store.type)) { %>
    <a 
      href="<%= cc.store.type.toLowerCase() %>://connect/<%= cc.widget.data.address %>" 
      class="btn-primary mt-4"
    >
      JOGAR AGORA!
    </a>
  <% } else { %>
    <button 
      data-ip="<%= cc.widget.data.address %>" 
      onclick="copyIp(this)"
      class="btn-primary mt-4"
    >
      JOGAR AGORA!
    </button>
  <% } %>
</div>