@keyframes anim {
  0% {
    transform:translateY(-202px)
  }
  33%,
  to {
    transform:translateY(202px)
  }
}

.hero-bg-wrapper {
  pointer-events: none;
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 287px;
  top: 0;
}

.hero-bg {
  left: calc(50vw - 624px);
  pointer-events: none;
  position: absolute;
  top: 50px;
  width: 1248px;
  overflow: hidden;
}

.bg-top {
  background-image: url('https://cdn.centralcart.com.br/public/assets/templates/KOPY/bg-top.png');
  height: 202px;
  margin-bottom: 85px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.bg-mask {
  mask-image: url('https://cdn.centralcart.com.br/public/assets/templates/KOPY/bg-mask.png');

  transition: 1s cubic-bezier(.6,.6,0,1) opacity;

  left: 0;
  -webkit-mask-size: cover;
  mask-size: cover;
  top: 0;
  width: 100%;

  z-index: 9;

  mask-repeat: no-repeat;
  height: 100%;
  position: absolute;
}

.bg-mask > div {
  animation: anim 6s infinite cubic-bezier(.35,.35,.3,.7);
  background: linear-gradient(180deg, hsl(var(--primary) / 0.5) 0%, hsl(var(--primary)) 100%, hsl(var(--primary)) 100%, hsl(var(--primary) / 0.5) 0%);
  height: 200px;
  position: relative;
  top: 0;
  z-index: 88888;
  width: 100%;
}

.hero-lights {
  background: 
    radial-gradient(27.12% 31.25% at 50% 0%, hsl(var(--primary) / 0.22), transparent),
    radial-gradient(28.64% 15.23% at 50% 64.17%, hsl(var(--primary) / 0.14), transparent);
  content: "";
  height: 1327px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o ponto de ancoragem para o centro */
  width: 1640px; /* Mantém o tamanho fixo */
}

.footer-bg {
  z-index: 1;
  height: 300px;
  background-color: hsl(var(--primary) / 0.2);
  -webkit-mask-image: url('https://cdn.centralcart.com.br/public/assets/templates/KOPY/footer-bg.png'); 
  mask-image: url('https://cdn.centralcart.com.br/public/assets/templates/KOPY/footer-bg.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  position: relative;
}

.custom-bg-mask {
  mask-image: linear-gradient(hsl(var(--background)), rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0));
}

.category-loader {
  transition: opacity .5s ease-out, transform .5s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.category-loader.visible {
  opacity: 1;
  transform: translateY(0);
}

.mingcute--loading-line {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3ClinearGradient id='mingcuteLoadingLine0' x1='50%25' x2='50%25' y1='5.271%25' y2='91.793%25'%3E%3Cstop offset='0%25' stop-color='%23000'/%3E%3Cstop offset='100%25' stop-color='%23000' stop-opacity='0.55'/%3E%3C/linearGradient%3E%3ClinearGradient id='mingcuteLoadingLine1' x1='50%25' x2='50%25' y1='8.877%25' y2='90.415%25'%3E%3Cstop offset='0%25' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='100%25' stop-color='%23000' stop-opacity='0.55'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='url(%23mingcuteLoadingLine0)' d='M8.886.006a1 1 0 0 1 .22 1.988A8.001 8.001 0 0 0 10 17.944v2c-5.523 0-10-4.476-10-10C0 4.838 3.848.566 8.886.007Z' transform='translate(2 2.055)'/%3E%3Cpath fill='url(%23mingcuteLoadingLine1)' d='M14.322 1.985a1 1 0 0 1 1.392-.248A9.99 9.99 0 0 1 20 9.945c0 5.523-4.477 10-10 10v-2a8 8 0 0 0 4.57-14.567a1 1 0 0 1-.248-1.393' transform='translate(2 2.055)'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.package-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: var(--delay, 0s);
}

.package-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.centralcart-content iframe {
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
