<footer>
  <div class="cc__footer___wrapper container">
    <div class="cc__footer___left_element">
      <% if (cc.theme.logo) { %>
      <a href="/">
        <img src="<%= cc.theme.logo %>" width="90px" />
      </a>
      <% } %>

      <div>
        <p><b><%= cc.store.name %></b> © <%= new Date().getFullYear() %></p>
        <% if (cc.store.type !== 'STANDALONE') { %>
          <p>Não somos afiliados a <%= ['FIVEM', 'REDM'].includes(cc.store.type) ? 'Rockstar Games' : 'Mojang Studios' %>.</p>
        <% } %>
      </div>
    </div>

    <p>Com ❤️ por <a href="https://centralcart.com.br">CentralCart!</a></p>
  </div>
</footer>
