<div 
  class="flex flex-col items-center justify-end h-full whitespace-nowrap overflow-hidden 
  <%= cc.highlight ? 'border rounded-lg bg-muted' : '' %>"
>
  <% if (cc.highlight) { %>
    <p class="text-xl font-bold pt-6 uppercase">PRODUTO EM DESTAQUE</p>
  <% } %>

  <% if (cc.package.image) { %>
    <img src="<%= cc.package.image %>" class="w-[165px] z-10" />
  <% } else { %>
    <img src="<%= cc.cdn_url %>/public/no-picture.png" class="w-[150px] z-10" />
  <% } %>

  <div class="w-full rounded-lg font-['Poppins'] -mt-16 p-6 pt-16 <%= !cc.highlight ? 'bg-gradient-to-t from-[#1c212c] to-[#13161e]' : '' %>">
    <h1 class="mt-4 text-lg truncate font-semibold" title="<%= cc.package.name %>">
      <%= cc.package.name %>
    </h1>
    <p class="font-bold text-primary"><%= cc.package.price_display %></p>

    <div class="mt-4 grid grid-cols-[3fr_1fr] gap-4">
      <% if (cc.package.inventory_amount === null || cc.package.inventory_amount > 0) { %>
        <% const current_cart_item = cc.cart.packages.find((package) => package.meta.id === cc.package.id) %>
        <% const has_variables = cc.package.variables.length %>
        
        <button 
          type="button" 
          id="<%= cc.package.id %>" 
          data-func="<%= current_cart_item ? 'goto-cart' : has_variables ? 'open-selector' : 'add-to-cart' %>" 
          data-slug="<%= cc.package.slug %>"
          class="btn-primary"
        >
          <i class="fa-solid fa-basket-shopping me-2"></i>
          <%= current_cart_item ? 'Ver carrinho' : 'Comprar' %>
        </button>
        
      <% } else { %>
        <button class="btn-primary red">
          Sem estoque
        </button>
      <% } %>

      <button class="btn-secondary" onclick="showPackage(`<%= cc.package.slug %>`)">
        <i class="fa-regular fa-circle-question text-[18px]"></i>
      </button>
    </div>
  </div>
</div>